
<section class="container-fluid form ">    
    <img class="photoPerfil card" src="{{imgPerfilUrl}}"/>
    <div class="alert-private" *ngIf="isPerfilPrivate">
        <p>
            Esta conta é privada, altere sua conta para conseguir gerar o sorteio!
        </p>
    </div>
    <span>Digite abaixo o Instagram:</span>
    <div class="input-group mb-3 agrupamento">
        <div class="input-arroba v-middle">@</div>
        <input #movieSearchInput class="form-control" placeholder="My Account">
        
    </div>
    <button [ngClass]="{'btn-disable': buttonIsdisabled}" (click)="buttonIsdisabled? '' :choosePerfil()" type="button" class="btn btn-padrao">Buscar fotos</button>   
</section>