<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <i class="material-icons">
        menu
    </i>
   
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <!-- <mat-icon>dialpad</mat-icon> -->      
      <a href="https://github.com/MatheusRod0296/instagramSorteios" target="_blank"> <span>Github</span></a>
    </button>  
    <button mat-menu-item>
     
      <a href="mailto:matheusrodrigues0296@gmail.com" > <span>Fale Conosco</span></a>
     
    </button>
  </mat-menu>