<section class="container">
    <div class="row">
        <div class="area-perfil col-md-2 ">
            <img class="img-escolhida" src="{{ImgPicked}}">
            <p>@{{CommentDTO.UserName}}</p>

            <div id="accordion">
                <div class="card">
                  <div class="card-header "  id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Configurações
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur 
                    </div>
                  </div>
                </div>
               
               
              </div>

        </div>

        <div class="col-md-10">
            <div class="area-comentarios col-md-12">
                <div class="">
                    <span  *ngFor="let edge of edges" class="col-12">
                      <strong>{{edge.node.owner.username}}</strong>: {{edge.node.text}}
                    </span>
                   
                </div>
            </div>
            <button class="btn btn-padrao col-md-12">Sortear</button>

            <div>
              <h1>Sorteados</h1>
            </div>

            <div class="area-sorteados"> 
              <span>1° sorteado</span>
              <div>
                <span>@NAME:</span>
                <span>commentario</span>
              </div>            
            </div>

           
        </div>

       
    </div>


</section>