/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: black; color: white;}

.v-middle{
    vertical-align: middle;
}

/* .container{
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
} */

.content{
    margin-top: 100px;
   
    border-top: 1px solid #e60575;
    /* border-bottom: 1px solid #e60575; */
}

.notify-alert{
    background: #f3af82dc;
    color: #000
}
.notify-succes{
    background: #88f090dc;
    color: #000
}
.notify-error{
    background: #fa0202;
    color: #ffffff
}

.size{
    overflow: hidden;
    margin-bottom: 60px;
}