/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: black; color: white;}

.v-middle{
    vertical-align: middle;
}

/* .container{
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
} */

.content{
    margin-top: 100px;
   
    border-top: 1px solid #e60575;
    /* border-bottom: 1px solid #e60575; */
}

.notify-alert{
    background: #f3af82dc;
    color: #000
}
.notify-succes{
    background: #88f090dc;
    color: #000
}
.notify-error{
    background: #fa0202;
    color: #ffffff
}

.size{
    overflow: hidden;
    margin-bottom: 60px;
}

.btn-padrao{
    float: left;
    background-color: #e60575;
    color: #fff;
    outline: 0;
    box-shadow: none;
    width: 100%;
    margin-bottom: 10px;
}

.btn-padrao:hover{
    background-color: #fff;
    color:#000;
}

.btn-padrao:focus{
    box-shadow: none;
}

.btn-disable{
    background-color: #fdfdfd85;
    opacity: 0.5;
}

.btn-disable:hover{
    background-color: #fdfdfd85;
    color: #fff;
    cursor: no-drop;
}

.btn-able{
    background-color: #e60575;
}