<section class="container">
    <div class="row">
        <div class="area-perfil col-md-2 ">
            <img class="img-escolhida" src="{{ImgEscolhida}}">
            <p>@instagram</p>

            <div id="accordion">
                <div class="card">
                  <div class="card-header "  id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Configurações
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur 
                    </div>
                  </div>
                </div>
               
               
              </div>

        </div>

        <div class="col-md-10">
            <div class="area-comentarios col-md-12">
                <div class="">
                    <span class="col-12"><strong>@NAME</strong>:
                        comentariosaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                    <span class="col-12"><strong>@NAME</strong>: comentarios</span>
                    <span class="col-12"><strong>@NAME</strong>: comentarios</span>
                    <span class="col-12"><strong>@NAME</strong>: comentarios</span>
                    <span class="col-12"><strong>@NAME</strong>: comentarios</span>

                </div>
            </div>
            <button class="btn btn-padrao col-md-12">Sortear</button>
        </div>
    </div>


</section>